In [2]:
#numbers -- immutable
num=10.90
print(num)
print(id(num))
num=90.678
print(num)
print(id(num))

10.9
2531516839984
90.678
2531517631280

In [4]:
#strings --immutable
name="python"
print(name)
print(id(name))
name="spark"
print(name)
print(id(name))

python
2531486521008
spark
2531518292080

In [7]:
#tuples -- immutable
tup1=(10,12,13,"python",90.34)
print(tup1)
print(id(tup1))
tup1=(13,24,89)
print(tup1)
print(id(tup1))
tup1[3]="spark"
print(tup1)

(10, 12, 13, 'python', 90.34)
2531518187936
(13, 24, 89)
2531518344640

TypeError: 'tuple' object does not support item assignment

In [35]:
lst1=[12,23,34,56]
print(lst1)
print(id(lst1))
lst1[0]=90
print(lst1)
print(id(lst1))

lst1.append("python")
print(lst1)
lst1.insert(2,"GCP")
print(lst1)
lst1.extend([90,80,40])
print(lst1)

lst1.remove("python")
print(lst1)

lst1.pop()
print(lst1)

lst1.clear()
print(lst1)

lst2=[90,34,23]

print(min(lst2))
print(max(lst2))
print(len(lst2))

[12, 23, 34, 56]
2531536556864
[90, 23, 34, 56]
2531536556864
[90, 23, 34, 56, 'python']
[90, 23, 'GCP', 34, 56, 'python']
[90, 23, 'GCP', 34, 56, 'python', 90, 80, 40]
[90, 23, 'GCP', 34, 56, 90, 80, 40]
[90, 23, 'GCP', 34, 56, 90, 80]
[]
23
90
3

In [27]:
set1={12,32,45,"hadoop",12}
print(set1)
print(id(set1))
set1.add("spark")
print(set1)
#print(set1[0])

{32, 'hadoop', 12, 45}
2531519057984
{32, 'spark', 12, 45, 'hadoop'}

In [26]:
dict1={"name":"riya","age":10,"grade":10,"name":"kiran"}
print(dict1)
print(id(dict1))
print(dict1["age"])
dict2={"name":["stud1","stud4","stud5"],
       "age":[9,9,67]
      }
print(dict2)
print(dict2.keys())
print(dict2.values())
print(dict2.items())
print(dict2.get("age"))
##mutability

dict1["grade"]=1
print(dict1)

{'name': 'kiran', 'age': 10, 'grade': 10}
2531519102592
10
{'name': ['stud1', 'stud4', 'stud5'], 'age': [9, 9, 67]}
dict_keys(['name', 'age'])
dict_values([['stud1', 'stud4', 'stud5'], [9, 9, 67]])
dict_items([('name', ['stud1', 'stud4', 'stud5']), ('age', [9, 9, 67])])
[9, 9, 67]
{'name': 'kiran', 'age': 10, 'grade': 1}

In [3]:
#Convert set,dictionary,tuple to list

set1={12,23,34,45}
list_set=list(set1)
print(list_set)
print(type(list_set))
print(list_set[0])


tup1=(12,23,45)
tup_lst=list(tup1)
print(tup_lst)
print(type(tup_lst))
tup_lst[0]=90
print(tup_lst)

dict1={10:"Anu",11:"Priya",12:"Riya"}
key_lst=[]
value_lst=[]
print(dict1.items())
for k,v in dict1.items():
    key_lst.append(k)
    value_lst.append(v)
print(key_lst)
print(value_lst)

[34, 12, 45, 23]
<class 'list'>
34
[12, 23, 45]
<class 'list'>
[90, 23, 45]
dict_items([(10, 'Anu'), (11, 'Priya'), (12, 'Riya')])
[10, 11, 12]
['Anu', 'Priya', 'Riya']

In [10]:
#Convert set,dictionary,list to tuple

set1={12,23,34,45}
tup_set=tuple(set1)
print(tup_set)
print(type(tup_set))
print(tup_set[1])
#tup_set[2]=90


lst1=[12,90,78]
tup_lst=tuple(lst1)
print(tup_lst)
print(type(tup_lst))
#tup_lst[1]=100


dict1={10:"Anu",11:"Priya",12:"Riya"}

print(dict1.items())

tup_res=[(k,v) for k,v in dict1.items()]

print(tup_res)

(34, 12, 45, 23)
<class 'tuple'>
12
(12, 90, 78)
<class 'tuple'>
dict_items([(10, 'Anu'), (11, 'Priya'), (12, 'Riya')])
[(10, 'Anu'), (11, 'Priya'), (12, 'Riya')]

In [15]:
#convert lists,tuples,sets to dict

list_names=["anu","leela","priya","riya"]
list_marks=[90,89,78]

dict_lst=dict(zip(list_names,list_marks))
print(dict_lst)
print(type(dict_lst))


tup_names=("anu","leela","priya","riya")
tup_marks=(90,89,78)
dict_tup=dict(zip(tup_names,tup_marks))
print(dict_tup)


tup_2=((12,"anu"),(13,"priya"),(14,"karthick"))
dict_tup2=dict((x,y) for x,y in tup_2)
print(dict_tup2)


set1={12,23,43,89}
dict_set=dict.fromkeys(set1,99)
print(dict_set)

{'anu': 90, 'leela': 89, 'priya': 78}
<class 'dict'>
{'anu': 90, 'leela': 89, 'priya': 78}
{12: 'anu', 13: 'priya', 14: 'karthick'}
{89: 99, 43: 99, 12: 99, 23: 99}

In [19]:
a=8
b=5
c=3
print(a+b)
print(a-b)
print(a*b)
print(a**c)
print(a//c)
print(a%c)

13
3
40
512
2
2

In [21]:
a=8
b=5
c=3
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a//=b
print(a)
a**=b
print(a)

13
8
40
8.0
1.0
1.0

In [28]:
a=8
b=5
c=3
if a==b:
    print("They are equal")
elif not a>b and b<8:
    print("you got it")
else:
    print("done")

done

In [26]:
a=""
if  a:
    print("null")
else:
    print("p")

p

a=10
print(type(a) is int)

In [30]:
a=10 
print(type(a) is not int)

False

In [33]:
lst=[12,23,345]
i=12
if i not in lst:
    print("present")
else:
    print("not")

not